<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <jmxConfigurator />
  <consolePlugin />


  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
    <syslogHost>127.0.0.1</syslogHost>
    <facility>LOCAL0</facility>
    <suffixPattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</suffixPattern>
  </appender>

  <!--
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>/var/log/net.evalcode/services.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
       <fileNamePattern>/var/log/net.evalcode/services-%d{yyyy-MM-dd}.log</fileNamePattern>
       <maxHistory>30</maxHistory>
     </rollingPolicy>
      <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
    </appender>

    <appender name="SMTP" class="ch.qos.logback.classic.net.SMTPAppender">
      <to></to>
      <from></from>
      <smtpHost>127.0.0.1</smtpHost>
      <subject>[net.evalcode.services]</subject>
      <layout class="ch.qos.logback.classic.html.HTMLLayout"/>
      <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
        <bufferSize>100</bufferSize>
      </cyclicBufferTracker>
    </appender>
  -->


  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="SYSLOG"/>
  </root>

  <logger name="net.evalcode" level="INFO"/>
  <logger name="net.sf.ehcache" level="INFO"/>
  <logger name="org.eclipse" level="INFO"/>
  <logger name="org.hibernate" level="INFO"/>


</configuration>
