gaia {
  net.evalcode.services.http.service.security.JaasTokenLoginModule sufficient;
  net.evalcode.services.directory.service.security.JaasLdapLoginModule required
  host="auth.evalcode.net"
  port="389"
  baseUser="ou=Users,dc=evalcode,dc=net"
  baseRole="ou=Groups,dc=evalcode,dc=net"
  objectClassUser="inetOrgPerson"
  objectClassRole="groupOfUniqueNames"
  attributeName="cn"
  attributeMember="uniqueMember";
};

everwines {
  org.eclipse.jetty.plus.jaas.spi.PropertyFileLoginModule required
  file="/etc/net.evalcode/services/default.password";
};
