ca {
  org.eclipse.jetty.plus.jaas.spi.LdapLoginModule required
  contextFactory="com.sun.jndi.ldap.LdapCtxFactory"
  hostname="auth.evalcode.net"
  port="389"
  useLdaps="false"
  forceBindingLogin="true"
  userBaseDn="ou=Users,dc=evalcode,dc=net"
  userRdnAttribute="uid"
  userIdAttribute="uid"
  userPasswordAttribute="userPassword"
  userObjectClass="inetOrgPerson"
  roleBaseDn="ou=Groups,dc=evalcode,dc=net"
  roleNameAttribute="cn"
  roleMemberAttribute="uniqueMember"
  roleObjectClass="groupOfUniqueNames";
};

everwines {
  org.eclipse.jetty.plus.jaas.spi.PropertyFileLoginModule required
  file="/etc/net.evalcode/services/default.password";
};
