gaia {
  net.evalcode.services.http.service.security.JaasTokenLoginModule sufficient
  cache="net.evalcode.services.http.security.gaia";

  net.evalcode.services.directory.service.security.JaasLdapLoginModule required
  host="auth.evalcode.net"
  port="389"
  user_base="ou=Users,dc=evalcode,dc=net"
  user_object_class="inetOrgPerson"
  user_attribute_name="cn"
  user_attribute_member="uniqueMember"
  group_base="ou=Groups,dc=evalcode,dc=net"
  group_object_class="groupOfUniqueNames"
  group_attribute_name="cn";
};

everwines {
  org.eclipse.jetty.plus.jaas.spi.PropertyFileLoginModule required
  file="/etc/net.evalcode/services/default.password";
};
